
$white: white;
$body-bg: $white;

$font-family-sans-serif: 'Robot', sans-serif;
$font-family-serif: 'Playfair Display', serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

$black: #1a1a1a;
$light-grey: #7b7b7b;

$border-radius: 0.25rem;
